<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!--
csnotes.htm - AngularJS app to rapidly build customer service call notes
Alan Lee 20180614
-->

</head>
<body ng-app="csnApp" ng-controller="csnController"
      ng-init="vCaller='MR';vAuthorised=false"
>
    
<button onclick="copyNotes()">Copy</button>
<input id="NotesBoxId" type="text" value="{{ notes() }}" style="width: 90%" />

<!--
<p>{{ vCaller +' '+ vAuthorised }}</p>      
<p>{{ sectCaller() }}</p>      
<p>{{ sectSubjects() }}</p>      
-->

    
<p>caller: 
<input type="radio" ng-model="vCaller" value="MR">MR
<input type="radio" ng-model="vCaller" value="MRS">MRS
<input type="radio" ng-model="vCaller" value="MR/MRS">MR/MRS
<input type="radio" ng-model="vCaller" value="MS">MS
<input type="radio" ng-model="vCaller" value="MISS">MISS
<input type="radio" ng-model="vCaller" value="DR">DR
<input type="radio" ng-model="vCaller" value="Organiser">Org
<input type="radio" ng-model="vCaller" value="Caller">Caller
<!--TODO: named-->
<input type="checkbox" ng-model="vAuthorised">Auth
<!--TODO: can't dpa-->
</p>

    
<p>subject: 
<input type="checkbox" ng-model="vSubjectAutorenewal" value="Autorenewal">AR
<input type="checkbox" ng-model="vSubjectDate" value="Date">Dates
<input type="checkbox" ng-model="vSubjectDestination" value="Destination">Dest
<input type="checkbox" ng-model="vSubjectMedical" value="Medical">Medical
</p>

    
<p>action: 
<input type="checkbox" ng-model="vActionQuery" value="Query">Query
<input type="checkbox" ng-model="vActionOptout" value="Optout">AROO
<input type="checkbox" ng-model="vActionUnwanted" value="Unwanted autorenewal">UNW AR
</p>    

    
    

<script>
function copyNotes() {
    var notesBox = document.getElementById("NotesBoxId");
    notesBox.select();
    document.execCommand("copy");
/* https://stackoverflow.com/questions/8069999/deselect-text-with-javascript
    setTimeout(function() {
        notesBox.selectionStart=0;
        notesBox.selectionEnd=0;
    }, 0);
*/
}

var PLUS = ' + '; //builds lists of subjects
var SEP = ' | '; //separates sections
var app = angular.module('csnApp', []);
    
app.controller('csnController', function($scope) {

    $scope.noteAuthorised = function() {
        return ($scope.vAuthorised) ? ' (Authorised by Organiser)' : '';
    };
    $scope.sectCaller = function() {
        return $scope.vCaller + $scope.noteAuthorised() + ' called';
    };
    
    
    $scope.noteSubjectAutorenewal = function() {
        return ($scope.vSubjectAutorenewal) ? 'Autorenewal' + PLUS : '';
    };
    $scope.noteSubjectDate = function() {
        return ($scope.vSubjectDate) ? 'Dates' + PLUS : '';
    };
    $scope.noteSubjectDestination = function() {
        return ($scope.vSubjectDestination) ? 'Destination' + PLUS : '';
    };
    $scope.noteSubjectMedical = function() {
        return ($scope.vSubjectMedical) ? 'Medical' + PLUS : '';
    };
    
    $scope.sectSubjects = function() { 
        var subjects =
        $scope.noteSubjectAutorenewal() + 
        $scope.noteSubjectDate() + 
        $scope.noteSubjectDestination() + 
        $scope.noteSubjectMedical();
        //remove final PLUS
        return (subjects.length > 0) ? subjects.substr(0, subjects.length - PLUS.length) : '';
    };

    
    //TODO: conditional build
    $scope.notes = function() {
        return $scope.sectCaller() + SEP + $scope.sectSubjects();
    };
});
</script> 
    


</body>
</html>
